*{
	margin : 0px;
	padding : 0px;
	box-sizing : border-box ;
	list-style : none;
	text-decoration: none;
	
}
header
{
	height : 100vh;
	width : 100%;
	background-image : linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(ayush.jpg);
background-size : cover;
background-position: center;
background-repeat: no-repeat;
transition: 5s;

animation-name :animate;
animation-direction: alternate-reverse;
animation-duration: 30s;
animation-fill-mode: forwards ;
animation-iteration-count: infinite;
animation-play-state: running;
animation-timing-function: ease-in-out ;
}
@keyframes animate{
	0%{
		background-image : url(wp6539220.jpg);
	}
	25%{
		background-image : url(Awesome-Taj-Mahal-HD-Wallpapewr.jpg);
	}
	50%
	{
		background-image : url(wp1891563.jpg);
	}
	75%
	{
		background-image : url(wp3168612.jpg);
	}
	
	100%{
		background-image : linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(ayush.jpg);
	}
	
}
	


/*		
header 
{
	
	
   background-repeat : no-repeat ;
   background-size : cover;
   background-position : center ;
   height : 100vh;
   */
}
 .row
	 {
		 max-width : 1180px;
		 margin : 0 auto ;
	 }
/*nav
{
	width : 100%;
	height : 15vh;
	background-color : rgba(0,0,0,0.2);
	color : white;
 justify-content:  space-between;
 text-transform :  uppercase;
	display : flex ;
	align-items : center;
}*/
 .logo{
	height : 120px;
	width : 25%;
	float : left;
	text-align : center ;
	margin-top : 20px;
	color : white;
}

/*.navbar li a
{
	
	color : #fff;
	text-decoration : none;
	text-transform :uppercase;
	font-size : 100%;
	font-weight : 100;
}
	*/


/*.mai-nav 
{
	float : right ;
	margin-top : 60px;
}
.mai-nav li
{
	display : inline-block ;
	list-style : none;
	justify-content:  space-between;
	margin-left : 40px;
}
.mai-nav li a
{
	color : #fff;
	text-decoration : none;
	text-transform :uppercase;
	font-size : 100%;
	font-weight : 100;
}
.mai-nav li a:hover 
{
	color: #00b894;
}

	.clearfix:after 
	{
		content : ".";
		visibility : hidden ;
		display : none ;
		height : 0px;
		clear : both ;
		
	}*/
	.main-content-header
	{
		
		color : white ;
		/*width : 1180px;*/
		position : absolute;
		top : 50%;
		left : 50%;
		transform :translate(-50%,-50%);
		justify-content : center;
		align-items : center ;
		text-align : center ;
	}
   h3 
	{
		font-size : 34px;
		font-weight : 900;
		letter-spacing : 3px;
		text-shadow :1px 1px 2px black;
	}
	.hello
	
	{
		font-size : 30px;
		margin : 25px 0px 10px 0px;
		font-weight : 700;
letter-spacing : 3px;
text-shadow : 1px 1px 2px black ;
text-transform : uppercase;
	}		
	 p
	{
		font-size : 25px;
		font-weight : 200;
	
		word-spacing : 3px;
		text-shadow : 1px 1px 2px black;
		margin-bottom : 25px;
	}
	  
	.b1 
	{
		color : black;
		background : #fff;
		 border-radius : 4px;
		outline : none;
		text-transform : uppercase ;
		letter-spacing : 1px;
		font-size : 13px;
	display : inline-block;
	    padding : 12px 30px  ;
		text-decoration : none;
		font-weight : 500;
	}
	.b1:hover{
		background : #00b894;
	}
	.b2:hover{
		background : #fff;
	}
 .b2
 {
	 background : #00b894;
  color : black;
   border-radius : 4px;
		outline : none;
		text-transform : uppercase ;
		letter-spacing : 1px;
		font-size : 13px;
	
	    padding : 12px 30px  ;
		text-decoration : none;
		font-weight : 500;
		
 }
 


 	nav ul
{
	
	float:right;
	margin-right:25px;
	
}
nav ul li{
display:inline-block;
line-height: 80px;
margin :0 15px;
padding : 5px 0;
}
nav ul li a
{
	position : relative;
	color :white;
	font-size : 18px;
	}
	nav ul li a:before 
	
	{
		position : absolute;
		content  : '';
		left : 0;
		bottom : 0;
		height: 3px;
		width : 100%;
		background:#00b894;
		transform: scaleX(0);
		transform-origin : right;
		transition: transform .4s linear;
	}
nav ul li a:hover:before
{
	transform: scaleX(1);
		transform-origin : left;
}
 label #btn,
 label #cancel
 {
	 color : white ;
	 font-size: 30px;
	 float: right;
	 line-height: 80px;
	 margin:right;
	 cursor: pointer ;
	 display: none;
	 
	 
 }
 #check
 {
	 display : none;
 }
 
.change_content:after
{
	content : '';
	animation : changetext 10s infinite linear ;
	color : #00b894 ;
}

@keyframes changetext{
	0%{ content:"RedFort";}
	20% { content : "Hawa Mahal";}
	50% { content : "Gateway Of India";}
	75% { content : 'Khajuraho';}
	100% {content : "TajMahal";}
}
 


/*	.mobile-icon 
{
	display : none;
}*/

@media only screen and (max-width : 1180px)
{
	nav .logo{
		left: 8%;
	}
	.main-content-header
	{
		width : 100%;
		padding :0 2%;
	}
	}
@media only screen and (max-width : 998px)
{
	 h1 , h3
	{
		font-size : 200%;
}
nav .logo 
{
	left: 6%;
	top: 20px;
	width: 130px;
}
nav ul li a
{
	font-size : 17px;
}


}
@media only screen and (max-width : 810px)
{
	 h1
	{
		font-size : 180%;
}
label #btn
{
	display: block;
}
ul
{
	position : fixed;
	width : 95%;
	height : 33vh;
	background : linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
	top : 0px;
	left : -100%;
	text-align : center;
	transition : all .5s;
	
}



nav ul li{
	display : block;
	margin : 10px 0;
	line-height : 30px;
}
nav ul li a:hover{
	background-color : #00b894;
}
nav ul li a
{
	font-size : 20px;
}


#check:checked ~ ul  {
	left : 0;
	
}
.main-content-header 
{
	height: 180px;
}


#check:checked ~ label #btn 
{
	display : none;
	
}
#check:checked ~ label #cancel
{
	display : block;
	
}


 
 	
}

  
  @media only screen and (max-width : 480px)
  {
	  .b2 
	  
	  {
		  margin-bottom : 20px;
	  }
	 h1, h3
	  {
		  font-size : 160%;
	  
  }
  nav .logo 
  {
	  display : none;
  }
  .hii
  {
	  font-size : 25px;
  }
 .hello 
 {
	 font-size : 20px;
	 
  }

@media screen and (max-width: 345px)
{
	 .b1
  {
	  font-size : 10px;
	  border-radius : 3px;
	  font:bold;
 
}
.b2
{
	font-size : 10px;
	font:bold;
	  border-radius : 3px;
}
}
.